[Unit]
Description=Dummy Service devopsh
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/dummy.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
